<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Permanent+Marker|Quicksand&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Sqwash</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top mx-auto">
        <div class="container navcont">
            <a class="navbar-brand p-0" href="/" id="logo">
                SQWASH
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pr-4">
                        <a class="nav-link" href="{{!-- needs profile link --}}">Profile</a>
                    </li>
                    <li class="nav-item pr-4">
                        <a href="{{!-- needs dashboard link --}}" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item pr-4">
                        <a href="/org-logout" class="nav-link ">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="profile-main">
        <div class="row justify-content-center">
            <div class="col-sm-4 box" id="user-image">
                <img src="img/sqwashAvater.jpg" alt="profile-image" id="avatar">
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-sm-6 box" id="user-view">
                <p>User Name: {{developer_name}}</p>
                <p>Available for hire? {{developer_status}}</p>
                <p>User Rating</p>
                <p>User Bio: {{developer_intro}}</p>
                <p>User Tech:</p>
                <ul>
                    {{#each developer_technique}}
                    <li>
                        <p>{{this}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-6 box" id="completed-view">
                <p>
                    <ul id="completeList">
                        {{#each completeProject}}
                        <li class="completeproject" data-id="{{id}}">
                            <hi> {{title}} </hi>
                            <p> {{price}} </p>
                        </li>
                        {{/each}}
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <script src="/js/dev-profile.js"></script>
</body>

</html>