{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Permanent+Marker|Quicksand&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dev-profile.css">
    <title>Sqwash</title>
</head>

<body> --}}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top mx-auto">
    <div class="container navcont">
        <a class="navbar-brand p-0" href="/" id="logo">
            SQWASH
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pr-4">
                    <a href="/developer-account" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item pr-4">
                    <a href="/org-logout" class="nav-link ">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" id="profile-main">
    <div class="row justify-content-center">
        <div class="col-sm-4 mt-5" id="user-image">
            <img src="img/sqwashAvater.jpg" alt="profile-image" id="avatar">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 box" id="user-view">
            <div class="header bold">
                <h1>Developer Information</h1>
            </div>
            <br>
            <br>
            <h5 class="bold">User Name:</h5>
                <p>{{developer_name}}</p>
            <h5 class="bold">User Email:</h5>
                <p>{{developer_email}}</p>
            <h5 class="bold">Available for hire?</h5>
                <p>{{#if developer_status}}Currently Working on Project{{else}}Currently Looking for
                Hire{{/if}}</p>
            <h5 class="bold">User Rating:</h5>
                <p>Rating Goes Here</p>
            <h5 class="bold">User Bio:</h5>
                <p>{{developer_intro}}</p>
            <h5 class="bold">User Tech:</h5>
                <ol class="row comma-list" >
                    {{#each developer_techniques}}
                    <li class="techList">
                       {{this}}
                    </li>
                    {{/each}}
                </ol>
        </div>
        <div class="col-sm-6 box" id="completed-view">
            <div class="header bold" id="infoHeader">
                <h1>Completed Projects</h1>
            </div>
            <br>
            <br>
            <p>
                <ul id="completeList">
                    {{#each completeProjects}}
                    <li class="completeproject" data-id="{{id}}">
                        <h5 class="bold"> Project Title:</h5>
                            <p>{{title}}</p>
                        <h5 class="bold"> Price: </h5>
                            <p>{{price}}</p>
                    </li>
                    {{/each}}
                </ul>
            </p>
            <!-- Modal -->
            <div class="modal fade" id="completeprojectinfo" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header">
                            <h5 class="modal-title bold" id="modalProjectTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5 class="bold">Project Description:</h5>
                            <p id="modalProjectDescription"></p>
                            <h5 class="bold">Price:</h5>
                            <p id="modalProjectPrice"></p>
                            <h5 class="bold">Comments:</h5>
                            <p id="modalProjectDescription"></p>
                            <h5 class="bold">Rating:</h5>
                            <div id="rater"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-grad" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script src="/js/dev-profile.js"></script>

{{!-- </body>

</html> --}}